.footer-copyright {
    background-color: teal;
    line-height: 3em;
    background-color: #009688;
    color: rgba(255,255,255, 0.84);
    text-align: center;

    position:absolute;
    bottom:0;
    width:100%;
    height:3em;   /* Height of the footer */

    a {
      color: rgba(255,255,255, 0.84);
    }
}
