// Place all the styles related to the notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	background: grey asset-data-url("kata_banner.jpg") top no-repeat;
	background-size: 100%;
	padding: 4em;
	width: 100%;
	color: rgba(255, 255, 255, 0.84);
	text-align: center;
	margin-bottom: 1em;
}
